.yhs-rv-notice {
    text-align: center;
    font-size: 18px;
    color: red;
}

.common-button img {
    height: 24px!important;
}
.pb-1 {
    padding-bottom: 1rem!important;
}
.terms-condition label {
    display: flex;
    gap: 15px;
    align-items: center;
}